<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proxyfortelegram.powerful.proxy.fastproxy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.proxyfortelegram.powerful.proxy.fastproxy.Main"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:largeHeap="true"
        tools:replace="android:supportsRtl"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


        <activity
            android:name="com.proxyfortelegram.powerful.proxy.fastproxy.Splash"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.proxyfortelegram.powerful.proxy.fastproxy.FirstActivity"
            tools:ignore="LockedOrientationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>

        <activity
            tools:ignore="LockedOrientationActivity"
            android:name="com.proxyfortelegram.powerful.proxy.fastproxy.GuideActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            tools:ignore="LockedOrientationActivity"
            android:name="com.proxyfortelegram.powerful.proxy.fastproxy.ProxyActivity"
            android:screenOrientation="portrait">
        </activity>
        <service android:name="com.proxyfortelegram.powerful.proxy.fastproxy.FirebaseMessagingServiceListener">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/myAppID"/>
    </application>

</manifest>